.wrapper > div {
  /* 9vh は headerの高さ分 */
  top: calc(9vh + 32px);
  position: sticky;
  margin-top: 30vh;
}

.col {
  display: flex;
  flex-direction: column;
}

.col > * {
  margin-bottom: 0px;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    display: none;
  }
}
