.modalOpenBody {
  z-index: 1;
}

.headline {
  color: #2c2e31;
  line-height: 48px;
  font-size: 32px;
  margin: 16px 0px;
  padding: 0 8px;
}

.date {
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  margin-bottom: 12px;
  padding: 0 8px;
}

.main {
  display: flex;
  justify-content: center;
}

.main > .socials {
  width: 5%;
  padding-top: 32px;
}

.main > .content {
  width: 80%;
  max-width: 960px;
}

@media screen and (max-width: 1024px) {
  .main > .content {
    width: 90%;
  }
}

.main > .tocwrapper {
  width: 15%;
  padding-left: 16px;
  padding-top: 32px;
}

/* 記事 */
.content {
  padding: 32px;
  color: #2c2e31;
  background-color: white;
  box-shadow: var(
    --theme-container-box-shadow,
    0px 1px 1px rgba(10, 10, 10, 0.1),
    0px 1px 2px rgba(10, 10, 10, 0.1),
    0px 0px 1px rgba(10, 10, 10, 0.8)
  );
}

@media screen and (max-width: 1024px) {
  .content {
    margin-top: 16px;
  }
}

.content > p,
.content > ul {
  font-size: 16px;
  line-height: 1.6;
}

.content > h1 {
  font-size: 40px;
  line-height: 32px;
  margin-top: 40px;
}

.content > h2 {
  font-size: 36px;
  margin-top: 50px;
}

.content > h3 {
  font-size: 28px;
  margin-top: 20px;
}

.content > h4 {
  font-size: 24px;
  margin-top: 16px;
}

.content > blockquote {
  font-size: 18px;
  font-style: italic;
}

.content > p,
.content > img,
.content > div,
.content > ul,
.content > blockquote {
  margin-bottom: 20px;
  word-break: break-all;
}

.content > h1,
.content > h2,
.content > h3,
.content > h4 {
  margin-bottom: 12px;
  word-break: break-all;
}

.content li {
  margin-bottom: 8px;
}

.content ul {
  list-style: circle inside;
  margin-left: 16px;
}

.content > ul {
  list-style: square inside;
}

.content li p {
  display: inline;
}

.content a {
  color: #368ccb;
}
