.modalOpenBody {
  z-index: 1;
}

.articleHeader {
  max-width: 960px;
  margin: auto;
  margin-bottom: 36px;
  padding: 8px;
}

.headline {
  color: #2c2e31;
  line-height: 48px;
  font-size: 32px;
  margin: 8px 0px;
  padding: 0 8px;
}

.tags {
  display: flex;
  margin: 8px 0px;
}

.tag {
  margin-right: 12px;
  margin-bottom: 8px;
}

.userRow {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.userInfoRow {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.userLink {
  text-decoration: underline;
  font-size: 16px;
}

.followButton {
  border: solid 1px #2196f3;
  color: #2196f3;
  /* TIPS: 引き延ばし防止, https://www.webcreatorbox.com/tech/flexbox-tips */
  align-self: flex-start;
  margin-top: 4px;
  padding: 4px;
  border-radius: 4px;
  font-size: 12px;
}

.followButton:hover {
  display: block;
  background-color: rgb(255, 234, 234);
}

.userImage {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  border: solid 1px #ccc;
}

@media screen and (max-width: 1024px) {
  .headline {
    margin: 8px 0px;
    font-size: 28px;
    line-height: 36px;
  }
}

.date {
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  margin-bottom: 12px;
  padding: 0 8px;
}

.main {
  display: flex;
  justify-content: center;
}

.main > .socials {
  width: 15%;
  padding-top: 32px;
  margin-left: auto;
  padding-right: 36px;
}

.main > .socials * {
  margin-left: auto;
}

.main > .content {
  width: 70%;
  max-width: 960px;
}

@media screen and (max-width: 1024px) {
  .main > .content {
    width: 90%;
  }
}

.main > .tocwrapper {
  width: 15%;
  padding-left: 16px;
  padding-top: 32px;
  margin-right: auto;
}

/* 記事 */
.content {
  padding: 32px;
  color: #2c2e31;
  background-color: white;
  box-shadow: var(
    --theme-container-box-shadow,
    0px 1px 1px rgba(10, 10, 10, 0.1),
    0px 1px 2px rgba(10, 10, 10, 0.1),
    0px 0px 1px rgba(10, 10, 10, 0.8)
  );
}

@media screen and (max-width: 1024px) {
  .content {
    padding: 0px;
    margin-top: 16px;
    border-radius: 8px;
    background-color: initial;
    box-shadow: initial;
  }
}

.content > p,
.content > ul {
  font-size: 16px;
  line-height: 1.6;
}

.content > h1 {
  font-size: 32px;
  line-height: 32px;
  margin-top: 40px;
  font-weight: bold;
}

.content > h2 {
  font-size: 28px;
  margin-top: 50px;
  font-weight: bold;
}

.content > h3 {
  font-size: 22px;
  margin-top: 20px;
  font-weight: bold;
}

.content > h4 {
  font-size: 20px;
  margin-top: 16px;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .content > h1 {
    font-size: 30px;
    line-height: 32px;
    margin-top: 3px;
  }

  .content > h2 {
    font-size: 28px;
    margin-top: 30px;
  }

  .content > h3 {
    font-size: 24px;
    margin-top: 16px;
  }

  .content > h4 {
    font-size: 20px;
    margin-top: 12px;
  }
}

.content > blockquote {
  font-style: italic;
}

.content > p,
.content > img,
.content > div,
.content > ul,
.content > blockquote {
  margin-bottom: 20px;
  word-break: break-all;
}

.content > h1,
.content > h2,
.content > h3,
.content > h4 {
  margin-bottom: 12px;
  word-break: break-all;
}

.content li {
  margin-bottom: 8px;
}

.content ul {
  list-style: circle inside;
  margin-left: 16px;
}

.content > ul {
  list-style: square inside;
}

.content li p {
  display: inline;
}

.content a {
  color: #368ccb;
}

.content iframe {
  display: block;
  margin: 32px auto;
}

.content iframe {
  width: 560px;
  height: 315px;
}

@media screen and (max-width: 1024px) {
  .content iframe {
    width: initial;
    height: initial;
  }
}
