.wrapper {
  display: grid;
  row-gap: 24px;
}

.contentsBox {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 24px;
}

.contentsBox > * {
  overflow: hidden;
}

.nextPrevSection {
  margin-top: 32px;
}
