.item {
  margin: 10px 0px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  > * {
    margin: 12px 8px;
  }
  @media screen and (min-width: 500px) {
    > * {
      width: calc(50% - 16px);
    }
  }
  @media screen and (min-width: 768px) {
    > * {
      width: calc(33% - 16px);
    }
  }
}
