.wrapper {
  max-width: 960px;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 32px;
  justify-content: safe center;
}

.info {
  margin-left: 24px;
}

.userIcon {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  /* 画像が潰れないように. https://coliss.com/articles/build-websites/operation/css/making-width-and-flexible-items.html */
  flex-shrink: 0;
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin-right: 12px;
}

.snsRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
}

.postRow {
  display: flex;
  border: solid 1px #ccc;
  background-color: white;
  margin: 16px 0px;
  border-radius: 8px;
}

.postRow:hover {
  background-color: rgb(245, 245, 245);
}

.postTitle {
  font-size: 24px;
  font-weight: bold;
}

.infoBox {
  padding: 12px;
}

.tags {
  margin-top: 12px;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 16px;
  }

  .row {
    flex-direction: column;
  }

  .name {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 12px 0px;
  }

  .info {
    margin-left: 0px;
  }
}
