.article {
  line-height: 1.6;
}

.article h2 {
  margin-top: 36px;
  font-size: 32px;
}

.article h2:first-child {
  margin-top: 0px;
}

.article h3 {
  margin-top: 32px;
  font-size: 24px;
}

.article h4 {
  margin-top: 16px;
  font-size: 20px;
}

.article h5 {
  margin-top: 12px;
  font-size: 18px;
}

.article pre {
  overflow-x: scroll;
}

.article a {
  color: var(--primary-color);
}

.article > p, .article > ul {
  margin: 24px 0px;
}

.article > ul > li {
  margin: 12px 0px;
}

.article > div {
  margin: 24px 0px;
}

.article blockquote {
  font-style: italic;
  line-height: 1.6;
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}
