.wrapper {
  border-bottom: 1px solid var(--text-color);
  height: 100px;
}

.wrapper:last-child {
  border-bottom: none;
}

.wrapper a {
  text-decoration: none;
  color: var(--text-color);
}

.col {
  display: flex;
  text-decoration: none;
}

.body {
  width: 100%;
  padding: 4px 8px;
  word-break: break-all;
}

.col:hover {
  font-weight: 900;
  color: var(--base-color);
  background-color: var(--text-color);
}

.image {
  flex-shrink: 0;
}
