:root {
  --base-color: #f7f7f7;
  --text-color: #222222;
  --primary-color: #1262ab;
  --primary-compatible-color: #b6dcec;
  --neutral-gray: #d9d9d9;
  --white-color: #ffffff;
  --header-color: #ffffff;
  --card-bg-color: #ffffff;
  --tag-gray: #d9d9d9;

  /* invert */
  /* https://www.wave440.com/php/iro.php */
  --primary-color-invert: #ed9d54;

  --screen-width: 1280px;
  --header-height: 80px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base-color: #222222;
    --text-color: #f7f7f7;
    --primary-color: #4598e6;
    --primary-compatible-color: #050b34;
    --neutral-gray: #d9d9d9;
    --white-color: #ffffff;
    --header-color: #000000;
    --card-bg-color: #000000;
    --tag-gray: #3a3a3a;

    /* invert */
    /* https://www.wave440.com/php/iro.php */
    --primary-color-invert: #e69345;
  }
}
