.cards {
  /* Masonry container */
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 300px;
  padding: 16px;
}

@media screen and (max-width: 1024px) {
  .cards {
    display: flex;
    flex-direction: column;
  }

  .card {
    margin-bottom: 16px;
  }
}

.newses {
  margin-bottom: 16px;
}

.title {
  font-size: 24px;
  margin: 24px 0px;
  text-align: center;
}

.articleTitle {
  margin-top: 16px;
  font-size: 18px;
}
