.cards {
  margin: 0 auto;
  padding: 5px;
  width: 90%;
  background-color: #fff;
  column-count: 3;
  column-gap: 0;
}

.card {
  padding: 5px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

@media screen and (max-width: 1024px) {
  .cards {
    display: flex;
    flex-direction: column;
  }

  .card {
    margin-bottom: 16px;
  }
}

.newses {
  margin-bottom: 16px;
}

.title {
  font-size: 24px;
  margin: 24px 0px;
  text-align: center;
}

.articleTitle {
  margin-top: 16px;
  font-size: 18px;
}
