.cards {
  margin: 0 auto;
  padding: 5px;
  width: 90%;
  column-count: 4;
  column-gap: 0;
}

.card {
  margin: 16px;
  margin-top: 0;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  box-shadow: 8px 12px 10px -6px rgba(0, 0, 0, 0.3);
  display: inline-block;
}

@media screen and (max-width: 1024px) {
  .cards {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .card {
    margin-bottom: 16px;
  }
}

.newses {
  margin-bottom: 16px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin: 24px 0px;
  text-align: center;
}

.articleTitle {
  margin-top: 16px;
  font-size: 18px;
}
