.list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.listItem {
  margin: 4px 8px;
}

.listItem a {
  text-decoration: none;
  color: var(--primary-color);
}

.listItem a:hover {
  color: var(--primary-color-invert);
}
