.imageWrapper {
  width: 100%;
  height: 500px;
  position: absolute;
  overflow: hidden;
}

.imageContainer {
  position: relative;
  height: 500px;
}

.metaContainer {
  position: absolute;
  color: black;
  width: 100%;
  height: 100%;
  padding: 40px;
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
  }
}

.image {
  margin-bottom: 32px;
  filter: brightness(0.4);
}
