.body {
  margin-top: 32px;
  word-break: break-all;
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 32px 0px;
  }
  p {
    margin: 12px 0px;
    line-height: 1.6;
  }
  h1 {
    font-size: 28px;
    font-weight: bold;
    &::before {
      content: "# ";
    }
  }
  h2 {
    font-size: 24px;
    font-weight: bold;
    &::before {
      content: "## ";
    }
  }
  h3 {
    font-size: 20px;
    font-weight: bold;
    &::before {
      content: "### ";
    }
  }
  h4 {
    font-size: 18px;
    font-weight: bold;
    &::before {
      content: "#### ";
    }
  }
  h5 {
    font-size: 16px;
    font-weight: bold;
    &::before {
      content: "##### ";
    }
  }
  ul {
    margin: 12px 0px;
    li {
      list-style: inside;
    }
  }
}
