.link {
  text-decoration: none;
  &:visited {
    color: initial;
  }
  &:hover {
    text-decoration: underline;
  }
}

.card {
  time {
    font-size: 14px;
  }
  .imageWrapper {
    width: 100%;
    height: 200px;
    margin-bottom: 12px;
  }
  p {
    margin-bottom: 8px;
    line-height: 1.4;
  }
}
