.wrapper {
  background: white;
  border-radius: 8px;
}

.body {
  padding: 24px;
}

.date {
  text-align: left;
}

.articleTitle {
  font-size: 24px;
  font-weight: 600;
  margin-top: 12px;
}

.articleTitle.hover {
  text-decoration: underline;
}

.excerpt {
  margin-top: 20px;
  color: gray;
}

.imageWrapper {
  border-radius: 8px 8px 0px 0px;
  overflow: hidden;
}

.image {
  width: 100%;
  margin: auto;
  transition: 0.5s all;
}

.image.hover {
  transform: scale(1.2, 1.2);
  transition: 0.5s all;
}
