.link {
  text-decoration: none;
  &:visited {
    color: initial;
  }
  &:hover {
    text-decoration: underline;
  }
}

.card {
  time {
    font-size: 14px;
  }
  .imageWrapper {
    width: 100%;
    margin-bottom: 12px;
    height: 300px;
    @media screen and (min-width: 500px) {
      > * {
        height: 240px;
      }
    }
    @media screen and (min-width: 768px) {
      > * {
        height: 200px;
      }
    }
  }
  p {
    margin-bottom: 8px;
    line-height: 1.4;
  }
}
