.header {
  background-color: white;
  height: 7vh;
  display: flex;
  align-items: center;
  padding: 0 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.title {
  font-size: 20px;
}

.icon {
  width: 20px;
  height: 20px;
}

.icon:first-child {
  margin-right: 16px;
}
