.footer {
  margin-bottom: 0;
  margin-top: auto;
  background-color: #368ccb;
  padding: 8px;
  text-align: center;
  color: white;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer > p {
  margin-top: 12px;
}

.footer > p > a {
  text-decoration: underline;
  color: aquamarine;
}

.body {
  min-height: 80vh;
  padding-top: 6vh;
}
