.footer {
  margin-bottom: 0;
  margin-top: auto;
  background-color: #368ccb;
  padding: 32px;
  text-align: center;
  color: white;
}

.footer > p {
  margin-top: 12px;
}

.footer > p > a {
  text-decoration: underline;
  color: aquamarine;
}
