.wrapper {
  padding: 8px;
  margin: 0 auto;
  width: 900px;
  border: solid 1px whitesmoke;
  border-radius: 8px;
  background-color: whitesmoke;
  font-size: 16px;
}

.title {
  text-align: center;
  font-weight: 900;
  margin-bottom: 12px;
}

.list {
  display: flex;
  margin-bottom: 8px;
}

.date {
  margin-right: 16px;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 95%;
  }

  .list {
    flex-direction: column;
    margin-bottom: 12px;
  }

  .date {
    font-weight: bold;
  }
}
