.wrapper {
  padding: 8px;
  margin: 0 auto;
  width: 600px;
  border: solid 1px rgba(0, 0, 0, 0.8);
  border-radius: 8px;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 95%;
  }
}

.title {
  text-align: center;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 900;
}

.list {
  display: flex;
}
