.wrapper > div {
  top: 32px;
  position: sticky;
}

.col {
  display: flex;
  flex-direction: column;
}

.col > * {
  margin-bottom: 16px;
}

.icon {
  width: 30px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    display: none;
  }
}
