.toc {
}

.toc > ul {
  position: sticky;
  top: 32px;
  color: rgba(0, 0, 0, 0.84);
  font-size: 16px;
  margin-bottom: 24px;
}

.toc > ul > li > ul {
  margin-left: 16px;
}

.toc a:hover {
  background-color: aliceblue;
}

.toc a {
  display: block;
  padding: 6px;
  padding-left: 12px;
}
