.toc > ul {
  position: sticky;
  top: calc(6vh + 32px);
  color: rgba(0, 0, 0, 0.84);
  font-size: 16px;
  margin-bottom: 24px;
}

.toc ul {
  margin-left: 16px;
}

.toc a:hover {
  background-color: aliceblue;
}

.toc a {
  display: block;
  padding: 6px;
  padding-left: 12px;
}

@media screen and (max-width: 1024px) {
  .toc {
    display: none;
  }
}
