.toc > ul {
  position: sticky;
  /* 9vh は headerの高さ分 */
  top: calc(9vh + 32px);
  color: rgba(0, 0, 0, 0.84);
  font-size: 16px;
  margin-bottom: 24px;
  overflow-y: auto;
  max-height: 75vh;
  background-color: white;
  border-radius: 8px;
  padding: 12px;
  margin-top: 30vh;
}

.toc ul {
  margin-left: 16px;
}

.toc a:hover {
  background-color: aliceblue;
}

.toc a {
  display: block;
  padding: 6px;
  padding-left: 12px;
}

@media screen and (max-width: 1024px) {
  .toc {
    display: none;
  }
}
