.opener {
  position: fixed;
  right: 16px;
  bottom: 16px;
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg, #2196f3 30%, #21cbf3 90%);
  border-radius: 30px;
  text-align: center;
  box-shadow: 2px 2px 5px 0px #0000006b;
  border: solid 2px white;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  z-index: 2;
  overflow: scroll;
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.toc > ul {
  position: sticky;
  top: 32px;
  color: rgba(0, 0, 0, 0.84);
  font-size: 16px;
  margin-bottom: 24px;
}

.toc ul {
  margin-left: 16px;
}
.toc a:hover {
  background-color: aliceblue;
}

.toc a {
  display: block;
  padding: 6px;
  padding-left: 12px;
}

.icon {
  width: 32px;
  color: white;
  fill: white;
}

@media screen and (min-width: 1024px) {
  .wrapper {
    display: none;
  }
  .opener {
    display: none;
  }
}
