.wrapper {
  color: var(--text-color);
}

.wrapper:hover > * {
  background-color: var(--text-color);
  color: var(--base-color);
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 160px;
}

.body {
  padding: 8px;
}

.foooter {
  margin-top: auto;
}
