.wrapper {
  width: 200px;
  padding: 12px;
}

.block {
  border-bottom: solid 1px #ccc;
  padding: 12px 0px;
  margin-bottom: 12px;
}

.title {
  text-align: center;
}

.item {
  margin: 24px 0px;
}
