.footer {
  margin-bottom: 0;
  margin-top: auto;
  background: linear-gradient(45deg, #2196f3 30%, #21cbf3 90%);
  padding: 8px;
  text-align: center;
  color: white;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer > p {
  margin-top: 12px;
}

.footer > p > a {
  text-decoration: underline;
  font-weight: bold;
}
