.header {
  background-color: white;
  height: 7vh;
  min-height: 70px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  position: fixed;
  transform: translate3d(0, 0, 0);
  top: 0;
  width: 100%;
  z-index: 1;
}

.title {
  font-size: 20px;
  font-weight: 900;
}

.icon {
  width: 20px;
  height: 20px;
}

.icon:first-child {
  margin-right: 16px;
}

@media screen and (max-width: 1024px) {
  .pcOnly {
    display: none;
  }
}
