.contentsWrapper {
  background-color: var(--base-color);
  padding-top: 80px;
}

.contents {
  max-width: 1280px;
  margin: auto;
  padding: 12px;
}

.footer {
  height: 100px;
  background-color: var(--primary-compatible-color);
}
