.wrapper {
  list-style-type: none;
  display: flex;
  padding-left: 0;
}

.wrapper a {
  text-decoration: none;
  color: var(--text-color);
}

.item {
  border: solid 1px var(--neutral-gray);
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:hover {
  background-color: var(--primary-color);
}

.item.selected {
  background-color: var(--primary-color);
}
